<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <google-chart #chart
        [title]="title"
        [type]="type"
        [data]="data"
        [columnNames]="column"
        [options]="options"
        [width]="width"
        [height]="height">
      </google-chart>
    </div>
    <div class="col"></div>
  </div>
</div>

<br>
<form #inventoryForm="ngForm">
  <fieldset>
    <legend>Total: {{ total }}</legend>
    <div class="container">
      <div class="row">
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-success" (click)="onDry1()">Dry Storage 1</button>
        </div>
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-success" (click)="onDry2()">Dry Storage 2</button>
        </div>
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-success" (click)="onCooler()">Cooler</button>
        </div>
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-success" (click)="onFreezer()">Freezer</button>
        </div>
        <div class="form-group-4">
          <select class="form-control custom-select" required name="sorts" [(ngModel)]="sort" #sorts="ngModel">
            <option value="qty">Quantity</option>
            <option value="price">Price</option>
          </select>
      </div>
      </div>
    </div>
  </fieldset>
</form>
<br>
<br>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-secondary" *ngFor="let inven of displays">
      <td>{{ inven.descrpt }}</td>
      <td>{{ inven.qty }}</td>
      <td>$ {{ inven.price * inven.qty}}</td>
    </tr>
  </tbody>
</table>
