<div class="jumbotron text-center">
  <h1>PDI Inventory App</h1>
  <p class="lead">Welcome to PDI Inventory App!</p>
  <div>
    <a class="btn btn-dark" [routerLink]="['/stock-management']">Stock Management</a>
    &nbsp;
    <a class="btn btn-dark" [routerLink]="['/inventory']">Inventory</a>
    &nbsp;
    <a class="btn btn-dark" [routerLink]="['/translation']">Translation</a>
    &nbsp;
    <a class="btn btn-dark" [routerLink]="['/transaction']">Transaction</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Made by Max You</h3>
    <p>Version 3.0</p>
    <p>Last Updated: 8/23/2019</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Made with Angular 8</p>
  </div>
  <div class="col-md-4">
    <h3>NodeJS Backend</h3>
    <p>Made with NodeJS Backend</p>
  </div>
</div>
